<!doctype html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Start here</title>
</head>
<body>
<div class="contianer">
    Hello World
</div>
<div>
    <a href="/preview_image">Color Detection Preview</a>
</div>
<div>
</div>

<!-- Show links to all the cameras -->
{%for i in cams%}
<div>
    <a href="{{backend_url}}/camera/{{i}}">Camera {{i}}</a>
</div>
{%endfor%}

</body>
</html>
