<!doctype html>
<html lang="en">
    <head>
        <title>Start here</title>
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    </head>
    <body>
        <img src="/picker/0?low_h=0&low_s=0&low_v=0&upper_h=0&upper_s=0&upper_v=20">
        <br>
        <select id="cam" onchange="handleChange('cam', $('select#cam').value);">
            {{ cams|safe }}
        </select>

        <label htmlFor="min_h">Minimum Hue</label>
        <input type="range" id="min_h" min="0" max="255" onchange="handleChange('min_h', $('#min_h').prop('value'));">
        <span id="min_h_val">0</span>
        <label htmlFor="max_h">Maximum Hue</label>
        <input type="range" id="max_h" min="0" max="255" onchange="handleChange('max_h', $('#max_h').prop('value'));">
        <span id="max_h_val">0</span><br>


        <label htmlFor="min_s">Minimum Saturation</label>
        <input type="range" id="min_s" min="0" max="255" onchange="handleChange('min_s', $('#min_s').prop('value'));">
        <span id="min_s_val">0</span>
        <label htmlFor="max_s">Maximum Saturation</label>
        <input type="range" id="max_s" min="0" max="255" onchange="handleChange('max_s', $('#max_s').prop('value'));">
        <span id="max_s_val">0</span><br>


        <label htmlFor="min_v">Minimum Value</label>
        <input type="range" id="min_v" min="0" max="255" onchange="handleChange('min_v', $('#min_v').prop('value'));">
        <span id="min_v_val">0</span>
        <label htmlFor="max_v">Maximum Value</label>
        <input type="range" id="max_v" min="0" max="255" onchange="handleChange('max_v', $('#max_v').prop('value'));">
        <span id="max_v_val">0</span><br>

        <script>
            var min_h=0;
            var min_s=0;
            var min_v=0;
            var max_h=0;
            var max_s=0;
            var max_v=0;
            function handleChange(id, val){
                if(id==='min_h'){
                    min_h=val;
                }else if(id==='min_s'){
                    min_s=val;
                }else if(id==='min_v'){
                    min_v=val;
                }else if(id==='max_h'){
                    max_h=val;
                }else if(id==='max_s'){
                    max_s=val;
                }else if(id==='max_v'){
                    max_v=val;
                }else if(id=='cam'){
                    cam=$('select#cams').prop('value');
                }
                $(`#${id}_val`).html(val);

                $('img').prop('src', `/picker/${cam}?low_h=${min_h}&low_s=${min_s}&low_v=${min_v}&upper_h=${max_h}&upper_s=${max_s}&upper_v=2${max_v}`);
            }
        </script>
    </body>
</html>
